* {
  margin: 0 auto;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  min-height: 100%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.location_header {
  box-shadow: 1px -3px 3px -3px gray;
  background-color: #eaeaea;
  text-align: center;
  padding: 1.2em 0;
  height: 4em;
  font-size: 1rem;
  font-weight: 400;
}

.location_header span {
  margin: 0 15px;
}

.location_content {
  height: 20em;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #f6f6f6;
}

.location_content h1 {
  font-size: 1.8rem;
  padding-top: 40px;
}

.location_content p {
  font-weight: 200;
  font-size: 1.3rem;
  padding: 40px;
}

.location_content button {
  width: 14em;
  padding: 20px;
  font-size: 1.3rem;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background: linear-gradient(#FF79DA, #9356DC);
}

.filter {
  height: 23em;
  margin: 2.5em 0px 0px 10px;
}

.filter_cards_wrapper {
  margin-top: 20px;
}

.filter_cards button {
  font-size: 20px;
  text-align: left;
  font-weight: 500;
  width: 20em;
  padding: 1.2em;
  border: none;
  margin-bottom: 15px;
  border-radius: 25px;
  background-color: #f6f6f6;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.filter_cards button:hover {
  background-color: #f2eafb;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
}

.filter_numbers {
  display: inline-flex;
  font-size: 10px;
  padding: 10px;
  border-radius: 100%;
  color: #ffffff;
  margin-left: 15px;
  transform: translate(20px, 4px);
  background-color: #9356DC;
  transition: 0.7s;
}

.filter_numbers:hover {
  color: #9356DC;
  background-color: #ffdff6;
  border: 3px dashed #9356DC;
}

.filter_icon {
  float: left;
  margin-right: 15px;
  color: grey;
}

.filter_icon:hover {
  color: #9356DC;
}

.restaurant_wrapper {
  background-color: #f6f6f6;
  height: 82em;
}

.restaurant_wrapper img {
  height: 67%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.restaurant_wrapper h2 {
  padding: 9px;
  transform: translate(48px, 20px);
}

.restaurant_cards {
  height: 16em;
  width: 22em;
  background-color: #ffffff;
  outline: none;
  margin: 29px auto;
  transition: 0.9s;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.restaurant_cards:hover {
  cursor: pointer;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
}

.restaurant_card_text {
  margin: 10px 0px 0px 20px;
}

.restaurant_card_text .heart {
  float: right;
  transform: translate(-20px, -30px);
  border: none;
}

.restaurant_card_text .heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50%;
  object-fit: cover;
}

.restaurant_card_text h3 {
  text-align: left;
}

footer {
  box-sizing: border-box;
  margin-top: -60px;
  height: 20%;
  padding-top: 20px;
  background-color: #353535;
}

footer p, footer span, footer .footer_icon {
  color: #ffffff;
}

footer img {
  width: 25%;
  height: 25%;
  margin-left: 1.5em;
  filter: invert(1);
}

.footer_wrapper {
  margin: 5px 0px 4px 25px;
}

.footer_wrapper span, .footer_wrapper p {
  line-height: 1.8;
}

.footer_wrapper .footer_icon {
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */