//colors
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$content-holder: rgb(246, 246, 246);

//Fonts
$primary-font: 'Roboto';
$secondary-font:'Shrikhand';

$breakpoint-mobile: 481px;


@mixin flex-center {
    display:flex;
    justify-content: center;
    }
    
@mixin box-shadow {
    box-shadow:1px -3px 3px -3px rgb(128, 128, 128);  
    }
@mixin gradient {
   background:linear-gradient( $secondary-color, $primary-color);
}
    
@keyframes preloader{
    from{ bottom: -100px; opacity: 0;

    }
     to{ bottom: 0px;   opacity: 1;
    }
   }
     @keyframes loading{
    from{ top: -100px; opacity: 0;
    }
     to{ top: 0px;   opacity: 1;
    }
   }

   @keyframes slideright {
    from {
      margin-right: 0;
    }
    to {
      margin-right: -47%;
    }
  }
  
  @keyframes slideleft {
    from {
        margin-right: -35%;
    }
    to {
        margin-right: 0%;
    }
}

@keyframes rotate {
  
    0% {
        transform: rotate(360deg);
    }
}
@keyframes animateone{
  0%{
      top:100px;
      transform:scale(1.5);
      z-index: 100;

  }
  100%{
      top:-100px;
      transform:scale(0.7);
      opacity: 0;
      z-index: -100;
  }
  
}

@keyframes animatetwo{
  0%{
      top:-40px;
      transform:scale(0.5);
      z-index: 100;
  }
  100%{
      top:40px;
      transform:scale(1);
      opacity: 0;
      z-index: -100;
  }
}

