  //*****  Tablet Media Query ********
  
  @media screen and (min-device-width: 768px) {
    header {
     margin: 2em;
     transform: translate(180px, 3px);
     
    }

    .location_header {
        width: 45.5em;
            span {
            font-size: 1.7rem;
            }
            .map-marker {
            font-size: 1.6rem;
            }
        }
    .location_content {
        width: 49.9em;
        button{
        font-size: 1.9rem  ;
        }
        h1{
        font-size: 2.4rem;
        }
        p {
        font-size: 1.7rem;
        font-weight: 300;
        padding: 28px;
        }
    }
    .filter {
        width: 48.6em;
        height: 14em;
        h2{
        font-size: 2rem;

        }
        .filter_cards_wrapper {
        display: flex;
        width: auto;
        }
        .filter_cards button {
            font-size: 20px;
            text-align: left;
            font-weight: 800;
            width: 11.5em;
            height: 5em;
            border: none;
            padding: 10px;
            border-radius: 25px;
            background-color: #f6f6f6;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            &:hover {
                background-color: lighten($color: $primary-color, $amount: 36%);
                 box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);  
                 cursor: pointer;    
            }
        }
        .filter_numbers {
            display: none;
            }
        .filter_icon {
        color: lighten($color: $primary-color, $amount: 25%);
        }
    }
    .restaurant_wrapper {
     width: 50em;
     height: 59em;
     padding: 46px 40px;
        h2{
        font-size: 2rem;
        }
        img{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        }
        .card_wrapper {
            display: grid;
            grid-template-columns: 368px 354px;
            grid-gap: 14px;
        }
        .restaurant_cards {
        height: 22em;
        width: 20em;
        border-radius: 40px;    
        }
        .restaurant_card_text  {
            h3{
            font-size: 1.4rem;
            }
            p{
            font-size: 1.3rem;
            }
        }
    }

    footer { 
    width: 50em;
    padding-top: 26px;
    margin-top: 0;
    padding-bottom: 13px;
        .footer_wrapper {
        margin: 5px 0px 20px 25px;
            span, p{
            font-size: 1.5rem;
            }
        }
    }
}