@import 'utilities';
@import 'config';


html {
font-family: $primary-font;
}

header{
    @include flex-center;
    margin: 1em;
    width: 25em;
   }

 .location_header{
 @include box-shadow;
 background-color: rgb(234, 234, 234); text-align: center;
 padding: 1.2em 0;
 height: 4.5em;
 font-size:1.1em;
 font-weight: 400;
 width: 24.6em;

     span {
     margin: 0 15px;  
     }
}
.location_content {
width:27em;
height: 20em;
padding: 10px;
margin: 0 auto;
text-align: center;
background-color: $content-holder;

    h1 {
    font-size: 1.8rem;
    padding-top: 40px;
    }
    p {
        font-weight: 200;
        font-size: 1.3rem;
        padding: 40px;
    }
    button {
    width: 50%;
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background: linear-gradient( $secondary-color, $primary-color);
    }
}

.filter {
height: 24em;
width: 26em;
margin: 2.5em 0px 0px 10px;
    h2 {
    margin-left: 20px;
    }
}

.filter_cards_wrapper{
margin-top: 20px;
width: 25em;

}
.filter_cards{
    button {
    font-size: 1.1rem; 
    text-align: left;
    font-weight: 500;
    width: 19em;
    padding: 1.2em;
    border: none;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: $content-holder;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        &:hover {
        background-color: lighten($color: $primary-color, $amount: 35%);
         box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2); 
    }
}
}
.filter_numbers {
display: inline-flex;
font-size: 10px;
padding: 10px;
border-radius:100% ;
color: #ffffff;
position: relative;
z-index:1 ;
margin-left: 15px;
transform: translate(15px, 4px);
background-color: $primary-color;
transition: 0.7s;
    &:hover {
    color:  $primary-color;
    background-color: lighten($color: $secondary-color, $amount: 20%);
    border: 3px dashed $primary-color;
    }

}

.filter_icon{
float: left;
margin-right: 15px;
color: grey;
    &:hover {
        color: $primary-color;
    }
}
.restaurant_wrapper {
background-color:$content-holder;
height: 82em;
padding: 46px;
width: 27em;

    img{
    height: 67%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }

}
.restaurant_cards {
height: 16em;
width: 22em;
background-color: #ffffff;
outline: none;
margin: 29px auto;
transition: 0.9s ease-out;
border-radius: 20px;   
box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);   
     &:hover {
    cursor: pointer;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
    }
}
.restaurant_card_text {
 margin: 10px 0px 0px 20px;


 .heart_shell{
    transform: translate(240px, -51px); 
    z-index: 1; 
    }
    .shaded_heart {
    transform: translate(204px, -51px);
    background: linear-gradient(#FF79DA 1%, #9345DC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
     &:hover {
    cursor: pointer;
    opacity: 1;
     }
    }
    h3 {
    text-align: left;
    }
}   

footer {
box-sizing: border-box;
margin-top: -60px;
width: 27.2em;
padding-top: 20px;
background-color: rgb(53, 53, 53);
    p, span , .footer_icon{
    color: #ffffff;
        &:hover {
        color: $secondary-color;
        }
    }
    img {
    width: 25%;
    height: 25%;
    margin-left: 1.5em;
    filter: invert(1);
    }
}
.footer_wrapper {
    margin: 5px 0px 4px 25px;
        span, p{
        line-height: 1.8;
        }
        .footer_icon {
        margin-right: 8px;
            &:hover{
            cursor: pointer;
            color: $primary-color;
            }
        }
    } 

    .loader {
        animation:spin 1.5s  linear forwards;
        border:solid 2vmin transparent;
        border-radius:50%;
        border-right-color: $primary-color;
        border-top-color: $secondary-color;
        box-sizing:border-box;
        height: 30vmin;
        left:calc(50% - 20vmin);
        position:fixed;
        top:calc(50% - 20vmin);
        width:30vmin;
        z-index:1;
        &:before {
          animation:spin 2s  linear;
          border:solid 2vmin transparent;
          border-radius:50%;
          border-right-color: $primary-color;
          border-top-color: $secondary-color;
          box-sizing:border-box;
          content:"";
          height: 20vmin;
          left:0;
          position:absolute;
          top:0;
          width: 20vmin;
        }
        &:after {
          animation:spin 3s  linear;
          border:solid 2vmin transparent;
          border-radius:50%;
          border-right-color: $secondary-color;
          border-top-color: $primary-color;
          box-sizing:border-box;
          content:"";
          height:20vmin;
          left:2vmin;
          position:absolute;
          top:2vmin;
          width:20vmin;
        }
      }
      
      @keyframes spin {
        100% {
          transform:rotate(360deg);
          opacity: 0;
        }
      }
      
//*****  Tablet Media Query ********
  
@media screen and (min-device-width: 768px) {
    header {
     margin: 2em;
     transform: translate(180px, 3px);
        img{
        height: 5em;
        }
    }
    .location_header {
        width: 45.5em;
            span {
            font-size: 1.7rem;
            }
            .map-marker {
            font-size: 1.6rem;
            }
        }
    .location_content {
        width: 49.9em;
        button{
        font-size: 1.9rem;
        &:hover {
            cursor: pointer;
            border: 10px solid  $secondary-color;
            background: white;
            color: $primary-color;
            font-weight: 800;
            font-size: 1.8rem;
            box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);  
            }
        }
        h1{
        font-size: 2.4rem;
        }
        p {
        font-size: 1.7rem;
        font-weight: 300;
        padding: 28px;
        }
    }
    .filter {
        width: 48.6em;
        height: 14em;
        h2{
        font-size: 2rem;

        }
        .filter_cards_wrapper {
        display: flex;
        width: auto;
        }
        .filter_cards button {
            font-size: 20px;
            text-align: left;
            font-weight: 800;
            width: 11.5em;
            height: 5em;
            border: none;
            padding: 10px;
            border-radius: 25px;
            background-color: #f6f6f6;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            &:hover {
                background-color: #ffffff;
                 box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);  
                 cursor: pointer; 
                 border: 5px solid $secondary-color;
            }
        }
        .filter_numbers {
            display: none;
            }
        .filter_icon {
        color: lighten($color: $primary-color, $amount: 25%);
        }
    }
    .restaurant_wrapper {
     width: 50em;
     height: 59em;
     padding: 46px 40px;
        h2{
        font-size: 2rem;
        }
        img{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        }
        .card_wrapper {
            display: grid;
            grid-template-columns: 368px 354px;
            grid-gap: 14px;
        }
        .restaurant_cards {
        height: 22em;
        width: 20em;
        border-radius: 40px;    
        }
        .restaurant_card_text  {
            h3{
            font-size: 1.4rem;
            }
            p{
            font-size: 1.3rem;
            }
        }
    }

    footer { 

    width: 100%;
    padding-top: 26px;
    margin-top: 0;
    padding-bottom: 13px;
        .footer_wrapper {
        display: flex;
        margin: 5px 0px 20px 25px;
            span, p{
            font-size: 1.5rem;
            }
        }
    }
}

  
    //*******Desktop Media Query*******

@media screen and (min-device-width: 1024px) {


header {
margin: 3em;
padding-bottom: 1em;
transform:none; 
width: auto;
    img {
    height: 8em;
    left: 10%;
    }
}
.location_header {
width: 100%; 
height: 7em; 
    span{
    font-size: 3.2rem;
    }
    .map-marker{
    font-size: 3em;
    }
}
.location_content {
width: 100%;
height: 28em;
    h1{
    font-size: 4rem;
    }
    p{
    font-size: 2.7rem;
    }
    button {
    font-size: 2.5rem;
    padding: .5em;
        &:hover {
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
        }
    }
}
.filter{
width: 100%;
height: 80%;
    h2{
    margin-left: 5%;
    font-size: 2.5rem;
    }
    .filter_cards_wrapper{
    display: flex;
    flex-wrap: wrap;
     width: 80%;
    }
}
.filter .filter_cards button {
width: 12em;
height: 12em;
font-size: 1rem;
color: #635c5c;
position: relative;
border: 5px solid $primary-color;
border-radius: 50%;
background-color: #ffffff;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    &:hover {
    background-color: white;
    border: 14px solid $secondary-color;
    transform: rotate(359deg);
    cursor: pointer;
    box-shadow: none;
    transition: 1s;
    } 
}

.filter .filter_icon {
    color: #ad9d9d;
    }
.filter_icon:nth-child(1){
margin-left: 15px;
}

.restaurant_wrapper {
width: 90%;
height: 80%;

background: none;
    h2{
    font-size: 3rem;
    }
    .card_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    }
    .restaurant_cards {
    // height: 25em;
    justify-content: space-around;
    height: 22em;
    width: 26em;
        .restaurant_card_text h3{
        font-size: 1.8rem
        }
        p{
        font-size: 1.5rem;
        }
        .heart_shell { 
        transform: translate(9.5em, -1.7em);
        }
        .shaded_heart{
        transform: translate(8.4em, -1.7em);
        }
    }
}
 footer {
width: 100%;
    img {
    margin-left: 2.5em;
    margin-top: 2em;
    }
    .footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 41px 0px 35px 25px;
        span, p {
        font-size: 2.1rem;
        &:hover{
        color: $secondary-color;
        }
        }
    .footer_icon {
    font-size: x-large;
    
    }
    }
 }
 }


  








