@import 'utilities';
@import 'config';

html {
font-family: $primary-font;
}
header{
    @include flex-center;
    margin: 1em;
   }
  
   
 .location_header{
 @include box-shadow;
 background-color: rgb(234, 234, 234); text-align: center;
 padding: 1.2em 0;
 height: 3em;
 font-size:1rem;
 font-weight: 400;
     span {
     margin: 0 15px;  
     }
}
.location_content {
height: 20em;
padding: 10px;
margin: 0 auto;
text-align: center;
background-color: $content-holder;

    h1 {
    font-size: 1.8rem;
    padding-top: 40px;

    }
    p {
        font-weight: 200;
        font-size: 1.3rem;
        padding: 40px;
    }
    button {
    width: 14em;
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background-color: $primary-color;
    }

}

.filter {
height: 20em;
margin: 2.5em 0px 0px 10px;

    
}

.filter_cards_wrapper{
margin-top: 20px;


}
.filter_cards{
    button {
    width: 30em;
    padding: 2em;
    border: none;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: $content-holder;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        &:hover {
        background-color: lighten($color: $primary-color, $amount: 35%);
    }
}

}
.filter_numbers {
font-size: 10px;
padding: 10px;
border-radius:100% ;
color: #ffffff;
margin-left: 15px;
background-color: $primary-color;

}

.filter_icon{
float: left;
color:rgb(104, 100, 100);
    &:hover {
        color: $primary-color;
    }
}

    
   
   