@import 'config';
@import 'utilities';

html{
font-family: $primary-font;    
}
header {
    .logo {
    display: flex;
    }
    .arrow  {
    transform: translate(20px, 24px);
}
    }
   .menu_img {
    height: auto;
    width: 100%;
    margin-top: 10px;
    object-fit: cover;
}
.heart_shell{
transform: translate(315px, -41px); 
z-index: 1; 
}
.shaded_heart {
transform: translate(279px, -41px);
background: linear-gradient(#FF79DA 1%, #9345DC);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
opacity: 0;
 &:hover {
cursor: pointer;
opacity: 1;
 }
}
// ******* Enchanted Menu Readjustement *****
.enchanted{
transform: translate(339px, -41px);
}
.hearty{
transform: translate(374px, -41px);
}
// *****************************************
.menu_wrapper {
box-sizing: border-box;
margin: 0 auto;
padding-top: 2.5em;
transform: translateY(-47px);
border-top-right-radius: 40px;
border-top-left-radius: 40px;
background-color: $content-holder;
    h1 {
    font-family: $secondary-font;
    margin-left: 10px;
    }
}
.menu_item_wrapper {
    hr{
    width: 14%;
    margin-left: 35px;
    border: 2px rgb( 153, 226, 208) solid;
}
    h2 {
    font-weight: 200;
    font-size: 1.3rem;
    margin: 0px 0px 10px 33px;
    }
    .menu_dish {
        width: 100%;
        height: 50px;
        padding: 10px 0 15px 0;
        text-overflow: ellipsis;
        overflow: hidden;
         &:hover {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;  
        }
    }
    .menu_items {
    display: flex;
    margin: 2em 1em 2em 1em;
    background-color: #ffffff;
    padding: 0 0 0 15px;
    border-radius: 1.5em;
    overflow: hidden;
    text-align: left;
    height: 5em;
    width: 90%;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);   
    &:hover {
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .menu_item_slider {
            display: flex;
            justify-content: center;
            align-items: center;
            animation: slideleft 0.8s normal linear forwards;
             }
        .checked_circle {
        animation: rotate 0.7s normal linear forwards;
        }
        }
        }
        h3{
        font-size: 1.1rem;
        font-weight: 400;
        }
        .menu_text {
        font-weight: 200;
        font-size: 1em;
         &:hover {
             white-space: nowrap;
             text-overflow: ellipsis;
             overflow: hidden;
         }
        }
        }
        .euro {
        width: 30%;
        padding: 11% 34% 0 0;

        }
.menu_item_slider {
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
    background-color: $tertiary-color;
    animation: slideright 0.8s normal linear forwards;
     .checked_circle{
     color: #fff;
     font-size: 250%;
    }
}
button {
    width: 14em;
    padding: 20px;
    margin: 20px 0px 50px 40px;
    font-size: 1.3rem;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background: linear-gradient( $secondary-color, $primary-color);
        &:hover {
        cursor: pointer;
        border: 10px solid  $secondary-color;
        background: white;
        color: $primary-color;
        font-weight: 900;
        font-size: 1.4rem;
        }
            
    } 
footer {
    box-sizing: border-box;
    margin-top: -45px;
    height: 20%;
    padding-top: 20px;
    background-color: rgb(53, 53, 53);
        p, span , .footer_icon{
        color: #ffffff;
        }
        img {
        height: 1.7em;
        margin-left: 1.5em;
        filter: invert(1);
        }
    }
    .footer_wrapper {
        margin: 5px 0px 4px 25px;
            span, p{
            line-height: 1.8;
                &:hover {
                cursor: pointer;
                color: $secondary-color;         
                }
            }
            .footer_icon {
            margin-right: 8px;
                &:hover {
                cursor: pointer;
                color: $secondary-color;        
                }
            }
        } 
        .main_wrapper{
        animation: preloader 1s linear;
        }
        .menu_items {
        animation: loading 4s ease-in-out;
        }
        
//    *****************Tablet Media Query***************
@media screen and (min-device-width: 768px) {
    header{
    img{
    height: 4em;
    } 

    }
   .menu_item_wrapper {
        h2 {
        font-weight: 400;
        }
        .menu_items{
        margin: 2em 1em 2em 2.5em;
        }
    }
    .euro {
    padding: 6% 0 0 0;
    }
    button {
    margin: 1em 0em 3em 8em;
    font-size: 1.5rem;
        &:hover {
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
        }
    }
    footer {
    img{
    height: 3em;
    }
    
    }
    footer {
    img{
    height: 3em;
    width: auto;
    filter: invert(1);
    }
    }
    .footer_wrapper{
    display: flex;
    margin: 2em 0em 2em 2em;
        p,span{
        font-size: 1.5rem;
        }
     }

}
//  *************** Desktop Media Query **************

@media screen and (min-device-width: 1024px) {
.menu_wrapper {
    h1{
    margin-left: 1em;
    }
}
 .menu_item_wrapper {
     h2 {
     font-size: 1.8rem;   
     font-weight: 500;
     }
     h3 {
     font-size: 1.5rem;
     }
     .menu_dish {
      height: 100%;
         .menu_text {
         font-weight: 300;
         font-size: 1.3rem;
         }

     }
 }
.euro {
padding: 2.9% 0 0 0;
}
button {
margin: 2em 0 2em 0;
position: relative;
left: 40%;
    &:hover {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
    }

}
footer {
padding-bottom: 0.6%;
padding-top: 3%;
    img{
    height:4em;
    margin-left:3.5em;
    filter: invert(1);
    }
}

}
